<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;"><user-input [users]="users | sortUsers" [selectUser]="selectUser"></user-input></div>
    <div class="col-sm-4" style="background-color:lavenderblush;"><friends-intersection [users]=selectedUsers></friends-intersection></div>
    <div class="col-sm-4" style="background-color:lavender;"><active-users-list [users]=selectedUsers [deleteUser]="deleteUser"></active-users-list></div>
  </div>
</div>
